* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  background-color: black;
  color: #fff;
}
@font-face {
  font-family: MBCorpoText;
  src: url(../font/MBCorpoText.ttf);
}
@font-face {
  font-family: DaimlerCAC-Regular;
  src: url(../font/DaimlerCAC-Regular.ttf);
}
h2 {
  font-family: "DaimlerCAC-Regular";
}
p {
  font-family: "MBCorpoText";
}
/* WELCOME */

.welcome .btn-primary {
  background-color: #00adef;
  border: 1px solid #00adef;
  border-radius: 1px;
}
.welcome .btn-primary:hover {
  background-color: #0088c6;
  border: 1px solid #0088c6;
}
.welcome__text {
  padding: 0 0;
}
.welcome__channel .welcome__item {
  position: relative;
}
.welcome__channel {
  width: 75%;
  margin: 0 auto;
}
.welcome__channel img {
  width: 100%;
  height: 100%;
}
.welcome__item a {
  width: 100%;
  height: 100%;
}
.welcome__item a::after {
  content: "";
  height: 0;
  background-color: #00adef;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: all 0.5s;
}
.welcome__channel a:hover::after {
  width: 100%;
  height: 8px;
  opacity: 1;
}
/* CONTENT */
.content__contain i {
  font-size: 15px;
  padding: 0px 15px;
}
.content__contain .nav-link.active {
  background-color: black;
  color: #00adef;
}
.content__contain .nav-link {
  color: #fff;
}
.content__contain .nav-link.active i {
  color: #00adef;
}
.content__contain a {
  font-family: "MBCorpoText";
  font-size: 14px;
  font-weight: 900;
}
.nav-item a {
  width: 100px;
  margin: 0 20px;
  padding: 8px 0;
  display: inline-block;
}
.nav-item a,
.nav-item i {
  transition: all 0.5s;
}
.nav-item a:hover i {
  color: #00adef;
}
.nav-item a:hover {
  color: #00adef;
}
.nav-item .active {
  border-radius: 0;
  border-bottom: 1px solid #00afef;
}
.content__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
  width: 95%;
  margin: 0 auto;
}
.content__item img {
  width: 100%;
  height: 100%;
}
.content__item1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}
.content__item10 {
  grid-column: 1 / span 2;
  grid-row: 4 / span 2;
}
/* max-width: 1579px */
.content__item151 {
  display: none;
  visibility: hidden;
}
/* max-width: 1279px */
.content__item161 {
  display: none;
  visibility: hidden;
}
.content__item19 {
  grid-column: 1 / span 2;
  grid-row: 2 / span 2;
}
.content__item27 {
  grid-column: 1 / span 2;
  grid-row: 5 / span 2;
}
.content__item {
  height: 100%;
  width: 100%;
  position: relative;
}
.content__text {
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  padding: 13px 31px 13px 31px;
  width: 100%;
  background: rgba(0, 0, 0, 0.35);
  height: 50px;
  transition: height 0.5s;
}
.content__item:hover .content__text {
  transition: height 0.5s, background 1.5s;
  background: rgba(0, 0, 0, 0.7);
  height: 100px;
}
.content__item:hover .content__text p {
  transition: opacity 0.5s ease-out;
  opacity: 1;
}
.content__text h3 {
  font-family: DaimlerCAC-Regular;
  font-size: 22px;
  font-weight: 400;
  line-height: 24px;
  width: 100%;
  color: #fff;
  background: none;
}
.content__text p {
  font-family: MBCorpoText;
  background: none;
  line-height: 18px;
  margin-top: 2px;
  font-weight: 300;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
.content__thumb {
  position: absolute;
  left: 0;
  bottom: 50px;
  width: auto;
  height: 25px;
  opacity: 0.85;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease-out;
}
.content__icon i {
  background-color: #efefef;
  color: #333;
  font-size: 9px;
  height: 25px;
  padding: 7px 14px;
  width: 35px;
}
.content__time p {
  font-size: 12px;
  background-color: #3b3a3b;
  height: 25px;
  padding: 7px 14px;
  margin-bottom: 0;
}
.content__item:hover .content__thumb {
  opacity: 0;
}
.content__contain .content__showmorepic {
  background: none;
  padding: 0 0;
}
.content__showmorebtn {
  margin: 20px 0;
  text-align: center;
}
.content__showmorebtn button {
  border: 1px solid #202020;
  border-radius: 0%;
  padding: 3px 16px;
}
.content__showmorebtn button,
.content__showmorebtn i,
.content__showmorebtn span {
  background: linear-gradient(#303030, #202020);
  color: #999;
  transition: all 0.5s ease;
  outline: none;
}
.content__showmorebtn i {
  display: inline-block;
  font-size: 16px;
  padding: 0 5px;
  line-height: 28px;
  vertical-align: top;
}
.content__showmorebtn button:hover .fas {
  color: #f0f0f0;
  outline: none;
}
.content__showmorebtn button:hover {
  color: #f0f0f0;
  border: 1px solid #202020;
  cursor: pointer;
}
/* RESPONSIVE */
@media screen and (max-width: 1579px) {
  .welcome__content,
  .welcome__channel {
    width: 85% !important;
  }
  .content__grid {
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    padding: 0 0;
    margin: 0 0;
  }
  .content__item10 {
    grid-column: 1 / span 2;
    grid-row: 5 / span 2;
  }
  .content__item151 {
    display: block;
    visibility: visible;
  }
  .content__item15 {
    visibility: hidden;
    display: none;
  }
  .content__item27 {
    grid-column: 1 / span 2;
    grid-row: 6 / span 2;
  }
}
@media screen and (max-width: 1279px) {
  .welcome__content,
  .welcome__channel {
    width: 80% !important;
  }
  .content__grid {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    padding: 0 0;
    margin: 0 0;
  }
  .content__item1 {
    grid-column: initial;
    grid-row: initial;
  }
  .content__item10 {
    grid-column: initial;
    grid-row: initial;
  }
  .content__item151 {
    display: block;
    visibility: visible;
  }
  .content__item15 {
    visibility: hidden;
    display: none;
  }
  .content__item161 {
    display: block;
    visibility: visible;
  }
  .content__item16 {
    visibility: hidden;
    display: none;
  }
  .content__item19 {
    grid-column: initial;
    grid-row: initial;
  }
  .content__item27 {
    grid-column: initial;
    grid-row: initial;
  }
}
@media screen and (max-width: 767.98px) {
  .welcome__content {
    width: 95% !important;
  }
  .welcome .row {
    display: block !important;
  }
  .welcome__text {
    padding: 0 0;
  }
  .welcome__text h2 {
    font-size: 15px;
  }
  .welcome__text p {
    font-size: 8px;
    font-weight: 900;
  }
  .welcome__content button {
    width: 100%;
    height: 20px;
    font-size: 8px;
    line-height: 50%;
  }
  .welcome__channel {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .welcome__item {
    margin: 3px 3px !important;
    width: 45% !important;
  }
  .nav-item i,
  .nav-item a {
    font-size: 10px;
  }
  .content {
    padding: 0 0;
    margin: 0 0;
  }
  .content__grid {
    grid-template-columns: none;
    width: 100%;
    padding: 0 0;
    margin: 0 0;
  }
  .content__text {
    height: 50px;
    background: rgba(0, 0, 0);
    transition: none;
  }
  .content__text p {
    transition: none;
    display: none;
    visibility: hidden;
  }
  .content__item:hover .content__text {
    transition: none;
    height: 50px;
    background: rgba(0, 0, 0);
  }
  .content__thumb {
    opacity: 1;
    transition: none;
  }
  .content__item:hover .content__thumb {
    opacity: 1;
    transition: none;
  }
  .content__showmorebtn button {
    padding: 1px 10px;
    font-size: 10px;
  }
  .content__showmorebtn i {
    display: inline-block;
    font-size: 8px;
    padding: 0 3px;
    line-height: 18px;
    vertical-align: top;
  }
}
