* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}
@font-face {
  font-family: MBCorpoText;
  src: url(../font/MBCorpoText.ttf);
}
@font-face {
  font-family: DaimlerCAC-Regular;
  src: url(../font/DaimlerCAC-Regular.ttf);
}
h2 {
  font-family: "DaimlerCAC-Regular";
}
p {
  font-family: "MBCorpoText";
}
/* WELCOME */
.welcome {
  background-color: #000000;
  color: #fff;
}
.welcome .btn-primary {
  background-color: #00adef;
  border: 1px solid #00adef;
  border-radius: 1px;
}
.welcome .btn-primary:hover {
  background-color: #0088c6;
  border: 1px solid #0088c6;
}
.welcome__channel li {
  width: 320px;
}
